/* sets the size of page to fill the window size */
body, html {
    height: 100% !important;
    width: 100% !important;
}

#editor-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

#issues-wrapper {
    flex-grow: 2;
    max-height: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
}

#code-wrapper {
    display: flex;
    max-width: 100%;
    max-height: 70%;
    position: relative;
    flex-grow: 4;
}

#code-area {
    height: 100%;
    width: 100%;
}

#view-area {
    height: 100%;
    width: 100%;
}

#issues-table-title {
    color: rgb(232, 232, 233);
    font-size: 24px;
    font-weight: 300;
    padding: 8px 8px;
}

#issue-table-wrapper {
    width: 100%;
}

#issues {
    color: #e7e5e5af;
    font-size: 16px;
    font-weight: 500;
}

#code-area {
    transition: margin-left 0.75s;
}

#properties-menu {
    width: 25%;
    height: 100%;
    flex-shrink: 0;
    transition: width 0.75s;
}

#report-menu {
    width: 0%;
    height: 100%;
    transition: width 0.75s;
    overflow: hidden;
    flex-shrink: 0;
}

/* issue type symbols */
.CodeMirror {
    max-width: 100%;
}

.none-display {
    display: none;
}

.issue-type {
    display: block;
    height: 5px;
    width: 5px;
    border-radius:50%;
    border: 5px solid;
    margin: auto;
    line-height: 50px;
    text-align: center
}

.grammer-type {
    background-color:#7f2affff;
    border-color: #7f2affff;
}

.info-type {
    background-color: #3a3affff;
    border-color: #3a3affff;
}

.optimize-type {
    background-color: #40ff40ff;
    border-color:  #40ff40ff;
}

.error-type {
    background-color: #ff4545ff;
    border-color: #ff4545ff;
}

.warn-type {
    background-color:#ffff74ff;
    border-color: #ffff74ff;
}

.default-type {
    background-color: #e7e5e5af;
    border-color: #e7e5e5af;
}

/* more design classes */

.text-area {
    padding: 0 22px;
    font-size: 20px;
    font-weight: 300;
    color: #3b3b3b;
    height: auto;
    line-height: 60px;
    background: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-color: #e9eaefff;
    display: flex;
    word-wrap: break-word;
}

.table.table-condensed th 
{
    font-size: 15px;
    font-weight: 500;
    color: white;
} 

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #313131;
    color: white;
}

.table.table-condensed tr th {
    /*border-bottom: 1px solid #e7e5e5af;*/ /* Change the color you want to set */
    border-bottom: none;
}
 
 .table.table-condensed tr td {
    /*border-bottom: 1px solid #e7e5e5af;*/ /* Change the color you want to set */
    border-bottom: none;
}

.issues-bg {
    background-color: #181818;
}

.area-shadow {
    box-shadow: 2px 2px 4px black;
}

.hide-animation {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear;
}

.show-animation {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0.33s, opacity 0.75s linear;
}

.CodeMirror-scroll {
    overflow-x: auto;
}

.zero-width {
    width: 0
}

.table {
    display: table
}

.table-row {
    display: table-row
}

.table-cell {
    display: table-cell 
}

.hidden {
    visibility: hidden
}

.visible {
    visibility: visible
}

.fill-page {
    height: 100% !important;
    width: 100% !important;
}

/* for codex logo */
.brand {
    padding: 16px 16px; /* Some padding */
    cursor: pointer; /* Mouse pointer on hover */
    align-items: center;
}

/* main menu background */
.menu-bg {
    background-color: #eceef7ff;
}

.menu-btn-spacing {
    margin-top: 5px;
}

.button-wrapper {
    padding: 16px 0px;
    width: 100%;
}

/* menu buttons */
.menu-btn {
    background-color: transparent; /* Blue background */
    border: none; /* Remove borders */
    padding: 16px 16px; /* Some padding */
    cursor: pointer; /* Mouse pointer on hover */
    align-items: center;
}

.menu-btn:hover {
    background-color: rgb(224, 228, 248);
}

/* icon properties */
.ico {
    width: 48px;
    height: 48px;
    alt: "";
    align-self: center;
}

.properties-bg {
    background-color: #fbfbfdff;
}

.properties-title {
    color: #373b4cff;
    font-size: 24px;
    font-weight: 300;
}

.properties-section {
    color: rgba(55, 59, 76, 0.849);
    font-size: 14px;
    font-weight: 500;
}

.properties-button {
    background-color: #4347ffff;
    color: white;
    width: 100%;
    align-self: center;
    position: relative;
}

.properties-button:hover {
    color: white;
    background-color: rgb(92, 95, 253);
}

/* selection box wrapper */
.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
}

/* selection box design */
.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 2px 0 2px;
    border-style: solid;
    border-color: #e9eaefff;
}

/* selected item design */
.custom-selected {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 20px;
    font-weight: 300;
    color: #3b3b3b;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    cursor: pointer;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #e9eaefff;
}

/* options design */
.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid #e9eaefff;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}

/* in open and more designs */
.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s;
}
.custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}
.custom-option.selected {
    color: #373b4cff;
    background-color: #e9eaefff;
}

/* selection box arrow design and animations */ 
.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #e9eaefff;
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #e9eaefff;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}